@media screen and (max-width:1159px){
    .team-info-section{
        padding-top: 0px;
    }
}
@media screen and (max-width: 1000px) {
    .nav-one{
        display: none;
    }
    
    .nav-two{
        display: none;
    }
    .tagline{
        width: 80%;
    }

    .brand-img{
        display: flex;
        justify-content: start;
        width: 100%;
        padding: 0px 70px;
    }
    
    .navbar-scroll .black-logo{
        width: 129px !important;
        height: auto !important;
        opacity: 1 !important;
        padding-left: 0px;
        max-width: 100% !important;
    }
    .info-text{
        width: 67%;
    }
    .service-wraper{
        padding:0px 31px;
    }
    .team-info-section{
        padding-top:0px ;
    }
}
@media screen and (max-width:990px){
    .work-container{
        padding:90px 128px;
    }
    .brand-work{
        width:100%
    }
    .side-img{
        width: 100%;
    }
    .side-img img{
        max-width: 100%;
        width: 998px;
        height: 100%;
    }
    .project-progress{
        width: 100%;
    }
    .member-one{
        display: none;
    }
    .member-four{
        display: none;
    }
    .team-box-one{
        width:60%;
    }
    .team-box-two{
        width:60%;
    }
    .team-info-section .comp-text{
        width:100%
    }
    .team-info-section{
        /* padding-top:10px ; */
    }
    .team-socialmedia{
        padding:0px;
    }
}
@media screen and (max-width: 840px) {
 .bg-img img{
     width: 100%;
        height: 600px;
        background-attachment: fixed;
        background-position: center 0px;
}
.tagline{
    font-size: 35px;
}
.textline{
    width: 88%;
} 
.team-info-section{
    width: 45%;
}
}

@media screen and (max-width:680px){
    .service-wraper{
        flex-wrap: wrap;
    }
    .service-webdes{
        padding-bottom:30px;
    }
    .service-webdev{
        padding-bottom:30px;
    }
    .side-menu{
        /* width:100% !important; */
    }
}

@media screen and (max-width:602px){
    .comp-section{
        flex-wrap: wrap;
    }
    .member-two{
        flex-direction: column;
    }
    .member-three{
        flex-wrap: wrap;
    }
    .team-box-one{
        width: 82%;
    }
    .team-box-two{
        width: 82%;
    }
    .team-img{
        width: 100%;
    }
    .team-info-section{
        padding-bottom: 20px;
        padding-left: 0;
        width: 100%;
        text-align: center;
    }
    .team-socialmedia{
        padding-top: 22px;
    }
    .team-info-section .comp-text{
        width:100%
    }
}

@media screen and (max-width: 500px) {

.copyright-text{
    padding-left: 50px;
}
}

@media screen and (max-width:443px){
    .work-container{
        padding:90px 41px;
    }
    .work-section{
        text-align: center;
    }
    .work-section .work-tagline{
        line-height: 0px;
        font: 29px 'Poppins',sans-serif;
    }
    .work-section .brand-text{
        width: 100%;
    }
    .work-btn{
        padding-left: 74px;
    }
}

@media screen and (max-width:320px){
    .work-btn{
        padding-left: 34px; 
    }
    .digital-wraper{
        top: 101px;
    }
    .team-text{
        width: 81%;
    }
    .service-wraper{
        padding:0px;
    }
    .service-webdes{
        padding-right:0px;
    }
    .service-webdev{
        padding-right: 0px;
    }
}